/*
header h3 {
  flex: 1;
  align-self: center;
}

header div {
  text-align: right;
  flex: 1;
  align-self: center;
  margin-right: 10px;
}

aside {
  height: calc(100% - 100px);
  border: 1px solid;
  width: 200px;
  float: left;
  margin-top: 50px;
  position: fixed;
  overflow: auto;
}

aside ul {
  padding-inline-start: 0px;
}
aside ul li {
  padding: 25px;
  list-style-type: none;
}
section {
  width: 950px;
  float: inherit;
  border: 1px solid;
  height: calc(100% - 100px);
  margin-top: 50px;
  position: absolute;
  margin-left: 200px;
  display: flex;
}
section h1 {
  display: flex;
  align-items: center;
  margin: 0px auto;
}

footer {
  width: 100%;
  height: 50px;
  border: 1px solid;
  clear: both;
  position: fixed;
  bottom: 0;
  background: cyan;
} */

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  position: sticky;
  top: 0;
  z-index: 100;
}

header .wrapper {
  display: grid;
  grid-template-columns: 20% 40% 20% 20%;
}

header nav {
  align-self: center;
}

header nav ul {
  display: inline-flex;
  gap: 56px;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

header .profile {
  text-align: right;
  align-self: center;
}

.profile .cart-list {
  position: absolute;
  background: white;
  color: black;
  height: 100px;
  border-radius: 0.5rem;
  right: 66px;
  transition: 1s ease;
  width: 15vw;
  text-align: left;
  padding: 10px;
  box-shadow: 0px 0px 5px;
  overflow: scroll;
}

.profile .cart-list .cart-item {
  display: grid;
  grid-template-columns: 75% 25%;
}

aside {
  background-color: #555;
  color: #fff;
  padding: 1em;
}

section {
  padding: 1em;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.home-container {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}

.home-container .cart-item {
  flex: 1;
  width: 50px;
}
.cart-item h4 {
  display: inline;
}

/* Add these styles to your CSS file or component */

.search-container {
  position: relative;
  align-self: center;
}

.typeahead {
  width: -webkit-fill-available;
  padding: 8px;
  font-size: 16px;
  border: 1px solid;
  border-radius: 7px;
}

.typeahead.clear-bottom-radius {
  border-radius: 7px 7px 0px 0px;
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  width: -webkit-fill-available;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  color: black;
}

.suggestions div {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.suggestions div:last-child {
  border-bottom: none;
}

/* Style for the selected suggestion */
.suggestions div:hover {
  background-color: #f0f0f0;
}

/* Responsive styles using media queries */
@media screen and (min-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}
